<h2>注文履歴一覧</h2>
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |orders| %>
      <tr>
        <th><%= link_to orders.created_at, admin_order_path(orders.id) %></th>
        <th><%= orders.customer_id.last_name + orders.customer_id.first_name %></th>
        <th><%= orders.order_detail.amount %></th>
      </tr>
    <% end %>
  </tbody>
</table>
